BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDa[0]" SITE "N14" ; # m J14
LOCATE COMP "LEDa[1]" SITE "L14" ; # l K14
LOCATE COMP "LEDa[2]" SITE "K12" ; # k L15
LOCATE COMP "LEDa[3]" SITE "L16" ; # j M14
LOCATE COMP "LEDa[4]" SITE "K16" ; # i N16
LOCATE COMP "LEDa[5]" SITE "K15" ; # h M16
LOCATE COMP "LEDa[6]" SITE "J15" ; # g1 H14
LOCATE COMP "LEDa[7]" SITE "M15" ; # g2 K13
LOCATE COMP "LEDa[8]" SITE "K13" ; # f M15
LOCATE COMP "LEDa[9]" SITE "H14" ; # e J15
LOCATE COMP "LEDa[10]" SITE "M16" ; # d1 K15
LOCATE COMP "LEDa[11]" SITE "N16" ; # d2
LOCATE COMP "LEDa[12]" SITE "M14" ; # c L16
LOCATE COMP "LEDa[13]" SITE "L15" ; # b K12
LOCATE COMP "LEDa[14]" SITE "K14" ; # a1 L14
LOCATE COMP "LEDa[15]" SITE "J14" ; # a2 N14
LOCATE COMP "LEDb[0]" SITE "N9" ; #T12
LOCATE COMP "LEDb[1]" SITE "R9" ; #T14
LOCATE COMP "LEDb[2]" SITE "T10" ; #R11
LOCATE COMP "LEDb[3]" SITE "R11" ; #R13
LOCATE COMP "LEDb[4]" SITE "M11" ; #T11
LOCATE COMP "LEDb[5]" SITE "N10" ; #M11
LOCATE COMP "LEDb[6]" SITE "P9" ; #P11
LOCATE COMP "LEDb[7]" SITE "T14" ; #N10
LOCATE COMP "LEDb[8]" SITE "P11" ; #T10
LOCATE COMP "LEDb[9]" SITE "M8" ; #P10
LOCATE COMP "LEDb[10]" SITE "T9" ; #R9
LOCATE COMP "LEDb[11]" SITE "R10" ; #R10
LOCATE COMP "LEDb[12]" SITE "P10" ; #T9
LOCATE COMP "LEDb[13]" SITE "T12" ; #N9
LOCATE COMP "LEDb[14]" SITE "T11" ; #P9
LOCATE COMP "LEDb[15]" SITE "R13" ; #M8
