BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDa[0]" SITE "N16" ; # m N14
LOCATE COMP "LEDa[1]" SITE "L14" ; # l L14
LOCATE COMP "LEDa[2]" SITE "K12" ; # k K12
LOCATE COMP "LEDa[3]" SITE "L16" ; # j L16
LOCATE COMP "LEDa[4]" SITE "J15" ; # i K16
LOCATE COMP "LEDa[5]" SITE "K16" ; # h K15
LOCATE COMP "LEDa[6]" SITE "M16" ; # g1 J15
LOCATE COMP "LEDa[7]" SITE "K15" ; # g2 M15
LOCATE COMP "LEDa[8]" SITE "K14" ; # f K13
LOCATE COMP "LEDa[9]" SITE "N14" ; # e H14
LOCATE COMP "LEDa[10]" SITE "M15" ; # d1 M16
LOCATE COMP "LEDa[11]" SITE "M14" ; # d2 N16
LOCATE COMP "LEDa[12]" SITE "K13" ; # c M14
LOCATE COMP "LEDa[13]" SITE "J14" ; # b L15
LOCATE COMP "LEDa[14]" SITE "H14" ; # a1 K14
LOCATE COMP "LEDa[15]" SITE "L15" ; # a2 J14
LOCATE COMP "LEDb[0]" SITE "N9" ; #T12
LOCATE COMP "LEDb[1]" SITE "R9" ; #T14
LOCATE COMP "LEDb[2]" SITE "T10" ; #R11
LOCATE COMP "LEDb[3]" SITE "R11" ; #R13
LOCATE COMP "LEDb[4]" SITE "M11" ; #T11
LOCATE COMP "LEDb[5]" SITE "N10" ; #M11
LOCATE COMP "LEDb[6]" SITE "P9" ; #P11
LOCATE COMP "LEDb[7]" SITE "T14" ; #N10
LOCATE COMP "LEDb[8]" SITE "P11" ; #T10
LOCATE COMP "LEDb[9]" SITE "M8" ; #P10
LOCATE COMP "LEDb[10]" SITE "T9" ; #R9
LOCATE COMP "LEDb[11]" SITE "R10" ; #R10
LOCATE COMP "LEDb[12]" SITE "P10" ; #T9
LOCATE COMP "LEDb[13]" SITE "T12" ; #N9
LOCATE COMP "LEDb[14]" SITE "T11" ; #P9
LOCATE COMP "LEDb[15]" SITE "R13" ; #M8
LOCATE COMP "LEDc[0]" SITE "N16" ; # m N14
LOCATE COMP "LEDc[1]" SITE "L14" ; # l L14
LOCATE COMP "LEDc[2]" SITE "K12" ; # k K12
LOCATE COMP "LEDc[3]" SITE "L16" ; # j L16
LOCATE COMP "LEDc[4]" SITE "J15" ; # i K16
LOCATE COMP "LEDc[5]" SITE "K16" ; # h K15
LOCATE COMP "LEDc[6]" SITE "M16" ; # g1 J15
LOCATE COMP "LEDc[7]" SITE "K15" ; # g2 M15
LOCATE COMP "LEDc[8]" SITE "K14" ; # f K13
LOCATE COMP "LEDc[9]" SITE "N14" ; # e H14
LOCATE COMP "LEDc[10]" SITE "M15" ; # d1 M16
LOCATE COMP "LEDc[11]" SITE "M14" ; # d2 N16
LOCATE COMP "LEDc[12]" SITE "K13" ; # c M14
LOCATE COMP "LEDc[13]" SITE "J14" ; # b L15
LOCATE COMP "LEDc[14]" SITE "H14" ; # a1 K14
LOCATE COMP "LEDc[15]" SITE "L15" ; # a2 J14
LOCATE COMP "LEDd[0]" SITE "N16" ; # m N14
LOCATE COMP "LEDd[1]" SITE "L14" ; # l L14
LOCATE COMP "LEDd[2]" SITE "K12" ; # k K12
LOCATE COMP "LEDd[3]" SITE "L16" ; # j L16
LOCATE COMP "LEDd[4]" SITE "J15" ; # i K16
LOCATE COMP "LEDd[5]" SITE "K16" ; # h K15
LOCATE COMP "LEDd[6]" SITE "M16" ; # g1 J15
LOCATE COMP "LEDd[7]" SITE "K15" ; # g2 M15
LOCATE COMP "LEDd[8]" SITE "K14" ; # f K13
LOCATE COMP "LEDd[9]" SITE "N14" ; # e H14
LOCATE COMP "LEDd[10]" SITE "M15" ; # d1 M16
LOCATE COMP "LEDd[11]" SITE "M14" ; # d2 N16
LOCATE COMP "LEDd[12]" SITE "K13" ; # c M14
LOCATE COMP "LEDd[13]" SITE "J14" ; # b L15
LOCATE COMP "LEDd[14]" SITE "H14" ; # a1 K14
LOCATE COMP "LEDd[15]" SITE "L15" ; # a2 J14
